<!-- ---
import Linkedin from '../icons/Social/Linkedin.astro';
import Github from '../icons/Social/Github.astro';
import Social_icons from '../components/Social_icons.astro';
import Gmail from '../icons/Social/Gmail.astro';

import data from '../data/data.json';



---

<div class="bg-light-secondary text-lg space-y-3 m-auto text-light-text dark:text-dark-text flex flex-col items-start">
  <h2 class="text-2xl font-bold">Me contacter</h2>
  <p><strong>Téléphone :</strong> {data.user.phone}</p>
  <p><strong>Email :</strong> {data.user.email}</a></p>
  <p><strong>Adresse :</strong> {data.user.address}</p>
  <nav class="flex flex-wrap gap-5 mt-6">
    <Social_icons href={data.user.linkedin}>
      <Linkedin class="size-4 md:size-6"/>
      LinkedIn
    </Social_icons>
    <Social_icons href={"mailto:" + data.user.email}>
      <Gmail class="size-4 md:size-6"/>
      {data.user.email}
    </Social_icons>
  </nav>
</div> -->
