---
export const prerender = true;
const { experiences } = Astro.props; // Récupère les expériences passées en props
---
<section class="container px-5 py-6 mx-auto space-y-12">
    <div class="relative border-l border-gray-800 pl-6">
        {experiences.map(({ startDate, endDate, position, name, summary, responsibilities, achievements, skills, location, location_type }) => {
            const startYear = startDate;
            const endYear = endDate ? endDate : "Présent";
            return (
                <div class="mb-10">
                    <div class="absolute w-4 h-4 bg-blue-500 rounded-full -left-2.5 mt-2"></div>
                    <h2 class="text-2xl font-bold">{startYear} - {endYear}</h2>
                    <p class="text-xl font-semibold">{position} @ {name}</p>
                    <p class="leading-relaxed text-base">{summary}</p>
                    {responsibilities && (
                        <ul class="list-disc ml-4 text-skin-muted">
                            {responsibilities.map(responsibility => (
                                <li>{responsibility}</li>
                            ))}
                        </ul>
                    )}
                    {achievements && (
                        <ul class="list-disc ml-4 text-skin-muted">
                            {achievements.map(achievement => (
                                <li>{achievement}</li>
                            ))}
                        </ul>
                    )}
                    <ul class="flex flex-wrap gap-2 mt-2">
                        {skills && skills.map(skill => (
                            <li class="bg-skin-button-accent/20 border-skin-hue/20 text-skin-hue border rounded-md px-2 py-0.5 text-xs">
                                {skill}
                            </li>
                        ))}
                    </ul>
                </div>
            );
        })}
    </div>
</section>
