---
const { projects } = Astro.props;
---
<div class="flex flex-col gap-y-16">
{
    projects.map(({ title, description, technology, link, github }) => (
    <article class="flex flex-col md:flex-row md:space-x-8 space-y-8 md:space-y-0">
        <div class="w-full md:w-1/2 flex items-center group">
        <div class="relative flex flex-col items-center transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl lg:border lg:border-gray-800 group-hover:shadow-2xl">
            <img alt="Captura del Proyecto" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
        </div>
        </div>

        <div class="w-full md:w-1/2 flex flex-col justify-center">
        <h3 class="text-2xl font-bold mb-2">{title}</h3>
        <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
            {technology.map(({ name, icon, class: className, style }) => (
                <li>
                <span class={`flex gap-x-2 rounded-full text-xs py-1 px-2 ${className}`} style={style}>
                    {icon}
                </span>
                </li>
            ))}
            </ul>
        </div>

        <div class="mt-2 text-lg mb-4">{description}</div>

        <footer class="flex items-end justify-start mt-4 gap-x-4">
            {github && (
            <a href={github} class="flex items-center gap-x-2">
                <span class="size-6">🔗</span> Code
            </a>
            )}
            {link && (
            <a href={link} class="flex items-center gap-x-2">
                <span class="size-4">🌐</span> Preview
            </a>
            )}
        </footer>
        </div>
    </article>
    ))
}
</div>
