---
import Tecnos_icons from "./Tecnos_icons.astro";
import Tecno_icon from "../icons/Titres/Tecno_icon.astro";

// Importation des icônes
import Html from '../icons/Tecnologias/Langages/Html.astro';
import Css from '../icons/Tecnologias/Langages/Css.astro';
import Js from '../icons/Tecnologias/Langages/Js.astro';
import Php from '../icons/Tecnologias/Langages/Php.astro';
import Csharp from '../icons/Tecnologias/Langages/Csharp.astro';
import Rust from '../icons/Tecnologias/Langages/Rust.astro';

import AstroIcon from '../icons/Tecnologias/Frameworks_Libreries/Ast.astro';
import Bootstrap from '../icons/Tecnologias/Frameworks_Libreries/Bootstrap.astro';
import Express from '../icons/Tecnologias/Frameworks_Libreries/Express.astro';
import Node from '../icons/Tecnologias/Frameworks_Libreries/Node.astro';
import React from '../icons/Tecnologias/Frameworks_Libreries/React.astro';
import Tailwind from '../icons/Tecnologias/Frameworks_Libreries/Tailwind.astro';

import Mongo from '../icons/Tecnologias/Bases_de_donnees/Mongo.astro';
import Mysql from '../icons/Tecnologias/Bases_de_donnees/Mysql.astro';

import Figma from '../icons/Tecnologias/Outils additionnels/Figma.astro';
import Git from '../icons/Tecnologias/Outils additionnels/Git.astro';
import Netlify from '../icons/Tecnologias/Outils additionnels/Netlify.astro';
import Vercel from '../icons/Tecnologias/Outils additionnels/Vercel.astro';
import Notion from '../icons/Tecnologias/Outils additionnels/Notion.astro';
import Postgres from '../icons/Tecnologias/Bases_de_donnees/Postgres.astro';
import MariaDB from '../icons/Tecnologias/Bases_de_donnees/MariaDB.astro';
import Symfony from '../icons/Tecnologias/Frameworks_Libreries/Symfony.astro';
import Heroku from '../icons/Tecnologias/Outils additionnels/Heroku.astro';
import Jquery from '../icons/Tecnologias/Frameworks_Libreries/Jquery.astro';
import Django from '../icons/Tecnologias/Frameworks_Libreries/Django.astro';
import Docker from '../icons/Tecnologias/Outils additionnels/Docker.astro';
import Sql from '../icons/Tecnologias/Langages/Sql.astro';
import Github from '../icons/Tecnologias/Outils additionnels/Github.astro';
import Typescript from '../icons/Tecnologias/Langages/Typescript.astro';

// Définition des technologies avec leurs composants associés
const LANGAGES = [
    { title: "HTML", icon: Html },
    { title: "CSS", icon: Css },
    { title: "JavaScript", icon: Js },
    { title: "PHP", icon: Php },
    { title: "SQL", icon: Sql },
    { title: "Rust", icon: Rust},
    { title: "TypeScript", icon: Typescript },    
];

const FRAMEWORKS_LIBRARIES = [
    { title: "Symfony", icon: Symfony },
    { title: "Astro", icon: AstroIcon },
    { title: "Bootstrap", icon: Bootstrap },
    { title: "JQuery", icon: Jquery },
    // { title: "Express", icon: Express },
    { title: "Node.js", icon: Node },
    { title: "React", icon: React },
    { title: "Tailwind CSS", icon: Tailwind },
    { title: "Django", icon: Django },
];

const BASES_DE_DONNEES = [
    { title: "MongoDB", icon: Mongo },
    { title: "MySQL", icon: Mysql },
    { title: "PostgreSQL", icon: Postgres },
    { title: "MariaDB", icon: MariaDB }
];

const OUTILS_ADDITIONNELS = [
    { title: "Figma", icon: Figma },
    { title: "Git", icon: Git },
    { title: "Heroku", icon: Heroku },
    { title: "Netlify", icon: Netlify },
    { title: "Docker", icon: Docker },
    { title: "GitHub", icon: Github },
    // { title: "Vercel", icon: Vercel },
    // { title: "Notion", icon: Notion }
];
---

<div class="flex flex-col items-center">
  <h2 class="text-4xl font-semibold pb-10 flex gap-x-3 items-center text-center mb-4">
    <Tecno_icon class="w-12 h-12" /> Technologies
  </h2>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 md:gap-12">
    <!-- Langages -->
    <div>
      <h2 class="text-2xl opacity-80 mb-6 text-center">Langages</h2>
      <nav class="flex flex-wrap justify-center gap-4">
        {LANGAGES.map(({ title, icon: Icon }) => (
          <Tecnos_icons title={title}>
            <Icon class="w-12 h-12" /> {title}
          </Tecnos_icons>
        ))}
      </nav>
    </div>

    <!-- Frameworks et Librairies -->
    <div>
      <h2 class="text-2xl opacity-80 mb-6 text-center">Frameworks et Librairies</h2>
      <nav class="flex flex-wrap justify-center gap-4">
        {FRAMEWORKS_LIBRARIES.map(({ title, icon: Icon }) => (
          <Tecnos_icons title={title}>
            <Icon class="w-12 h-12" /> {title}
          </Tecnos_icons>
        ))}
      </nav>
    </div>

    <!-- Bases de Données -->
    <div>
      <h2 class="text-2xl opacity-80 mb-6 text-center">Bases de Données</h2>
      <nav class="flex flex-wrap justify-center gap-4">
        {BASES_DE_DONNEES.map(({ title, icon: Icon }) => (
          <Tecnos_icons title={title}>
            <Icon class="w-12 h-12" /> {title}
          </Tecnos_icons>
        ))}
      </nav>
    </div>

    <!-- Outils Additionnels -->
    <div>
      <h2 class="text-2xl opacity-80 mb-6 text-center">Outils Additionnels</h2>
      <nav class="flex flex-wrap justify-center gap-4">
        {OUTILS_ADDITIONNELS.map(({ title, icon: Icon }) => (
          <Tecnos_icons title={title}>
            <Icon class="w-12 h-12" /> {title}
          </Tecnos_icons>
        ))}
      </nav>
    </div>
  </div>
</div>
